
button:hover {
  opacity: 0.85;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

table tbody tr:hover {
  background-color: #ffffff;
  text-decoration: underline;
}

th {
  text-align: center;
}

.btn-success{
  height: 40px;
  width: 100px;
}
